html, body {
  height: 100%;
  margin: 0;
  background-color: #19314E;
}

h1, h2, h3, h4, h5, h6, p, a, label, th, td {
  font-family: Helvetica, sans-serif;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}