html, body {
  height: 100%;
  margin: 0;
  background-color: #19314E;
}

.core {
  height: 100%;
}

.errorMessage {
  color: red;
}

h1, h2, h3, p {
  font-family: Helvetica, sans-serif;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
